.logo img {
  height: min(7vh, 40px);
  margin-left: min(5vw, 20px);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: max(14pt, 1rem);
  white-space: nowrap;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
}

.bar {
  background-color: black;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.pages {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.page {
  position: relative;
}

.page::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b31b1b;
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}

.page:hover::after {
  transform-origin: bottom center;
  transform: scaleX(1);
}

.socials {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 0 0 auto;
  margin-right: min(5vw, 100px);
}

.social {
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social:hover {
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.5);
}

a img {
  width: min(1.2vw, 20px);
  min-width: 16px;
}